#md blockquote {
  padding: 0.5rem 0;
  padding-left: 1rem;
  border-left: solid 0.8rem gray;
  font-size: 1.2rem;
  margin: 2rem 3rem;
}

#md h4 {
  margin-top: 1rem;
}

#md h3 {
  margin: 1rem 0;
}

#md hr {
  margin: 2rem;
}

.container {
  max-width: 42rem !important;
}


#md p {
  margin: 2rem 0;
}

.a, #md p a {
  color: blue;
  text-decoration: underline;
}
